---
import HackclubBadge from './HackclubBadge.astro';
---

<div class="home-container">
  <HackclubBadge />
  <h1>Kerala Hack Club</h1>
  <h1>Build for the world, from Kerala</h1>
  <p class="description">We're building something amazing for the hacker community in Kerala. <br>Join the WhatsApp Community Now!</p>
  <a href="https://chat.whatsapp.com/LWqISu3hrOEIayO2vM4by2">WhatsApp</a>
  <a href="https://github.com/kerala-hackclub">GitHub</a>
</div>

<style>
  .home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Phantom Sans';
  }

  .description {
    text-align: center;
  }
</style>
