---
import HackclubBadge from "./HackclubBadge.astro";

const btnTWStyle: string =
  "py-2 px-5 text-[1.3em] md:text-[1.4em] bg-gradient-to-br rounded-full hover:scale-105 transition duration-500 ease-in-out";
const paragraphTWStyle: string =
  "text-[1.2rem] md:text-[1.5rem] text-[#292e32] text-center mt-5";

---

<div class="home-container">
  <HackclubBadge />
  <!-- This image is hosted on Hack Club's CDN -->
  <img
    class="mb-[1.5em] w-[10em] md:w-[13em]"
    src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/921bf78caaebfa33c59a40744e839781bc53ea4c_hckl.svg"
    alt=""
  />
  <h1 class="text-[1.1rem] md:text-[1.2rem] font-bold text-[#292e32]">Rooted in Kerala, Reaching the World</h1>
  <h1 class="text-[2.7rem] md:text-[3.5rem] font-bold text-[#253542] ">Kerala Hack Club</h1>
  <p class={`${paragraphTWStyle}`}>
    We're building something Incredible for <br> Kerala's hacker community.
  </p>
  <p class={`${paragraphTWStyle} mt-[0.4rem]`} >Join our WhatsApp Community to take part!</p>
<div class="flex gap-4 mt-[2.6em]">
  <a
    class={`${btnTWStyle} text-white from-blue-500 to-teal-500 `}
    href="https://chat.whatsapp.com/LWqISu3hrOEIayO2vM4by2"
  >
    Whatsapp
  </a>
  <a
    class={`${btnTWStyle} text-white from-orange-500 to-red-500`}
    href="https://github.com/kerala-hackclub"
  >
    Github
  </a>
</div>

</div>

<style>
  .home-container {
    height: calc(100vh - 3vh);
    width: calc(100vw - 3vh);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Phantom Sans";
    background:
      radial-gradient(
        circle at 25% 25%,
        rgba(255, 182, 193, 0.15) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at 75% 30%,
        rgba(255, 182, 193, 0.1) 0%,
        transparent 45%
      ),
      radial-gradient(
        circle at 50% 70%,
        rgba(255, 182, 193, 0.2) 0%,
        transparent 40%
      ),
      white;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  @media (max-width: 600px) {
    .home-container {
      height: calc(100svh - 2svh);
      width: calc(100svw - 2svh);
      border-radius: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Phantom Sans";
    }
  }
</style>
