---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daydream Kerala Registration</title>
  </head>
  <body
    style="display: flex; justify-content: center; align-items: center; background: #276CB8;"
  >
    <div style="height: 98vh; width: 98vw;">
      <iframe
        src="/prospectus.pdf"
        style="height: 100%; width: 100%; border: none;"></iframe>
    </div>
  </body>
</html>
